<div class="container-fluid">
    <div class="row">
        <div class="title">
            <div class="row">
                <div class="col-lg-10">
                    <h3>
                        Patient Details
                    </h3>
                </div>
                <div class="col-lg-2">
                    <p *ngIf="loading">Loading...</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <form>
            <div class="row">
                <label>First Name <i class="required">*</i></label> <br/>
                <input class="form-control" (keyup)="onChange()" type="text" placeholder="Enter First Name" name="firstName" [(ngModel)]="newPatient.firstName" required/>
            </div>
            <div class="row">
                <label>Last Name <i class="required">*</i></label> <br/>
                <input class="form-control" (keyup)="onChange()" type="text" placeholder="Enter Last Name" name="lastName" [(ngModel)]="newPatient.lastName" required/>
            </div>
            <div class="row">
                <label>Age</label> <br/>
                <input class="form-control" (keyup)="onChange()" type="number" placeholder="Enter Age" name="age" [(ngModel)]="newPatient.age"/>
            </div>
            <div class="row">
                <label>Contact Number <i class="required">*</i></label> <br/>
                <input class="form-control" (keyup)="onChange()" type="tel" placeholder="Enter Contact Number" name="contactNumber" [(ngModel)]="newPatient.contactNumber" required/>
            </div>
            <div class="row">
                <label>
                    Identity Type <i class="required">*</i>
                </label>
                <select [(ngModel)]="newPatient.identityType" onChange="onChange()" name="identityType" class="form-control" required>
                    <option [disabled] = "true" selected>Select Identity Type</option>
                    <option *ngFor="let identity of identityTypeList; let i = index" value={{identity}}>
                        {{identity}}
                    </option>
                </select>
            </div>
            <div class="row">
                <label>Identity Number <i class="required">*</i></label> <br/>
                <input class="form-control" type="text" (keyup)="onChange()" placeholder="Enter Identity Number" name="identityNumber" [(ngModel)]="newPatient.identityNumber" required/>
            </div>
            <div class="row">
                <label>Is Covid Positive? <i class="required">*</i></label> <br/>
                <label>
                    <input type="radio" name="choice-radio" (change)="onChange()" [value]="true" [(ngModel)]="newPatient.isCovidPositive">
                    Yes
                </label>
                <label>
                    <input type="radio" name="choice-radio" (change)="onChange()" [value]="false" [(ngModel)]="newPatient.isCovidPositive">
                    No
                </label>
                
            </div>
            <button *ngIf="new" type="submit" class="btn" (click) = "submit()" [disabled]="submitDisable">
                Submit
            </button>
            <button *ngIf="!new" type="submit" class="btn" (click) = "submit()" [disabled]="submitDisable">
                Update
            </button>
            <p *ngIf="submitDisable">Fill all the required fields.<i class="required">*</i></p>
        </form>
    </div>
</div>
