<div class="container-fluid">
    <div class="row">
        <div class="title">
            <div class="row">
                <div class="col-lg-10">
                    <h3>
                        All Patients
                    </h3>
                </div>
                <div class="col-lg-2">
                    <p *ngIf="loading">Loading...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <table>
            <tr class="table-header">
                <th>Sr.No.</th>
                <th style="width: min-content;">Edit</th>
                <th>Admitted On</th>
                <th>Name</th>
                <th>Age</th>
                <th>Identity Type</th>
                <th>Identity Number</th>
                <th>Contact Number</th>
                <th>Covid Positive</th>
                <th style="width: min-content;">Delete</th>
            </tr>
            <tr class="table-content" *ngFor="let p of patients; let i = index">
                <td>{{i+1}}</td>
                <td style="width: min-content;" (click)="editDetails(i)">
                    <button class="btn">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
                <td>{{p.admittedOn | date: 'dd-MM-yyyy, hh:mm a'}}</td>
                <td>{{p.firstName + ' ' + p.lastName}}</td>
                <td>{{p.age}}</td>
                <td>{{p.identityType}}</td>
                <td>{{p.identityNumber}}</td>
                <td>{{p.contactNumber}}</td>
                <td>{{p.isCovidPositive}}</td>
                <td style="width: min-content;">
                    <button class="btn" (click) = "delete(i)">
                        <i class="fa fa-minus-square"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
